---
import Section from '@/components/Section.astro';
import Card from '@/components/Card.astro';
import Base from '@/layouts/Base.astro';
import Heading from '@/components/Heading.astro';
import { AppConfig } from '@/utils/AppConfig';

import { getCollection, type CollectionEntry } from 'astro:content';

export async function getStaticPaths() {
	const posts = await getCollection('blog');

	// Get all unique tags from all posts
	const allTags = posts.flatMap((post) => post.data.categories || []);
	const uniqueTags = [...new Set(allTags)];

	return uniqueTags.map((tag) => ({
		params: { tag },
		props: { posts }
	}));
}

const { posts } = Astro.props;
const { tag } = Astro.params as { tag: string };

const filteredPosts = tag
	? posts.filter((post: CollectionEntry<'blog'>) => post.data.categories?.includes(tag))
	: [];

console.log(posts);

const title = AppConfig.title;
const description = AppConfig.description;
---

<Base head={{ title, description }}>
	<Section>
		<Heading title={`Posts with #${tag}`} />
		<div class="pt-2 text-center">
			<a href="/tags" class="underline hover:text-orange-600">all tags →</a>
		</div>
	</Section>
	<Section>
		{
			filteredPosts.map((post) => (
				<div class="mb-4 basis-1 last:mb-0">
					<Card post={post} />
				</div>
			))
		}
	</Section>
</Base>
